.postCard {
  width: 100%;
  position: relative;
  text-decoration: none;
  border-radius: 5%;
  color: white;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  padding: 40px;
  padding-bottom:20px;
}
.postCard > div{
  height:90px;
  margin:0;
  padding:0;
  padding-top:40px;
}
.postCard h1{
  margin-top:35px;
}
.postCard:hover {
  color: white !important;
  transform: translateY(-5px);
  box-shadow: 2em;
}
